@page {
  size: A3;
  margin: 2mm 2mm 2mm 2mm;
}

.root {
  height: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.report {
  overflow-x: visible;
  @media print {
    table {
      page-break-inside:auto;
    }
    tr {
      page-break-inside:avoid;
      page-break-after:auto
    }
  }
}

.title {
  text-align: center;

  display: none;
}

.logo {
  //display: none;
  //@media print {
  //  display: block;
  //}

  display: block;
  padding: 24px 0 20px 24px;
  img {
    height: 180px;
    width: 100%;
  }
}

.header {
  text-align: center;
}

.footer {
  width: 100%;

  tr {
    text-align: center;
  }
}
